build
*.pbxuser
*.mode1v3
SilentBoombox/SilentBoombox.xcodeproj/xcuserdata/
SilentBoombox/SilentBoombox.xcodeproj/project.xcworkspace/xcuserdata/danielhd.xcuserdatad/UserInterfaceState.xcuserstate
SilentBoombox/SilentBoombox.xcodeproj/project.xcworkspace/xcuserdata/
*.DS_Store
*.log
*.swp
*.tmp
